{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Tipo de Comida</th>
        <th scope="col">Descrição</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Opções</th>
        <th scope="col">Valor Calórico</th>
        <th scope="col">Salada</th>
    </tr>
    </thead>
    <tbody>
    {% for comida in comidas %}
    <tr>
        <td>
            <a href="{% url 'update_comida' comida.id %}">
                {{ comida.tipoComida }}
            </a>
        </td>
        <td>{{ comida.descricao }}</td>
        <td>{{ comida.quantidade }}</td>
        <td>{{ comida.opcoes }}</td>
        <td>{{ comida.valorCalorico }}</td>
        <td>{{ comida.salada }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'create_comida' %}">Novo</a>
{% endblock %}